body {
    font-family: Arial, sans-serif;
    background-color: #f0e9f0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: #e0d5e0;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: white;
    background-color: #3d003d;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

label.required::after {
    content: " *";
    color: red;
}

footer {
    max-width: 500px;
    margin: 0 auto;
    background-color: #3d003d;;
    padding: 20px;
    border-radius: 8px;
}
footer p {
    color: white; 
    text-align: center;
}
